<!DOCTYPE html>
<html lang="en">
<head>
    {% block head -%}
    <meta charset="UTF-8">
    <title>{% block title -%}{%- endblock title %}—UShopping</title>
    <!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    {% block style -%}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    {%- endblock style %}
    {%- endblock head %}
</head>
<body style="background-color:Lavender">
{% block body -%}

{%- endblock body %}
</body>
</html>
